{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>Manage blocked profiles</h1>

    {% for row in blocked_profiles %}

    <div class="about_me">
        <table class="about_me_table">
            <tr>
                <td class="about_me_td"><img src="{{ url_for('static',filename='styles/img/fluid_bg.jpg') }}" alt=""
                        height="200px" width="200px"></td>
                <td class="about_me_td">
                    <h2><b>{{ row.name }}</b></h2>
                    <p><i>{{ row.profile_header }}</i> </p>
                    <p>
                        {{ row.profile_description }}
                    </p>
                    <form action="/unblock_person" method="POST" style="display: inline-block;">
                        <input type="hidden" name="unblock_id" value="{{ row.id }}">
                        <button type="submit" id="unblockPerson" class="btn btn-danger">Unblock</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}

</div>
{% endblock %}