{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="about_me">
        <table class="about_me_table">
            <tr>
                <td class="about_me_td"><img src="{{ url_for('static',filename='styles/img/fluid_bg.jpg') }}" alt=""
                        height="200px" width="200px"></td>
                <td class="about_me_td">
                    <h2><b>{{ name }}</b></h2>
                    <i>Headliner (e.g. Artist | Scientist | Musician)</i> <br> <br>
                    Some description about myself goes here. I like to paint, draw and illustrate with Python.
                    My favourite YouTube videos are about fish.
                    It's a special interest of mine.
                </td>
            </tr>
        </table>
    </div>
    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Ask Me About</h4>
            <button onclick="location.href='/edit-profile'" type="button">
                www.example.com</button>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table class="ask_tell_table">
                    {% for row in ask_me_dict %}
                    <tr class="ask_tell_tr">
                        <td class="ask_tell_td"><input type="checkbox" id={{ row.skill }} value="{{ row.skill }}"></td>
                        <td class="ask_tell_td"><b>{{ row.skill }}</b></td>
                        <td class="ask_tell_td">{{ row.note }}</td>
                        <td class="ask_tell_td">{{ row.level }}</td>

                    </tr>
                    {% endfor %}

                </table>
                <br>
                <button type="button" class="btn btn-dark">Find People Who Want to Hear More</button>
            </form>
        </div>
    </div>

    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Tell Me About</h4>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table class="ask_tell_table">
                    {% for row in tell_me_dict %}
                    <tr class="ask_tell_tr">
                        <td class="ask_tell_td"><input type="checkbox" id={{ row.skill }} value="{{ row.skill }}"></td>
                        <td class="ask_tell_td"><b>{{ row.skill }}</b></td>
                        <td class="ask_tell_td">{{ row.note }}</td>
                        <td class="ask_tell_td">{{ row.level }}</td>

                    </tr>
                    {% endfor %}

                </table>
                <br>
                <button type="button" class="btn btn-dark">Find People Who Can Tell Me More</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}