{% extends "base.html" %}

{% block content %}
<div class="row flex-grow-1">

    <div class="col-7 withbg">
        <div class="headingContainer">
            <img src="{{ url_for('static',filename='styles/img/Candoor_logo_blue_01.svg') }}" alt="Candoor Logo"
                class="logo">
        </div>

    </div>

    <div class="col-5">
        <div class="auth-form">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <h2><b>Login</b></h2>

                <div class="mb-3">
                    <!-- <label for="email" class="form-label">Email</label> -->
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div class="mb-3">
                    <!-- <label for="password" class="form-label">Password</label> -->
                    <input class="form-control" type="password" name="password" placeholder="Password" autofocus="">
                </div>

                <div class="mb-3">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        Remember me
                    </label>
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>

            <br>
            <p> Don't have an account? <a href="/signup"> Create one </a></p>
  

        </div>
    </div>
</div>
{% endblock %}