{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="about_me">
        <table class="about_me_table">
            <tr>
                <td class="about_me_td"><img src="{{ url_for('static',filename='styles/img/fluid_bg.jpg') }}" alt=""
                        height="200px" width="200px"></td>
                <td class="about_me_td">
                    <h2><b>{{ my_profile_dict.name }}</b></h2>
                    <p>{{ my_profile_dict.pronouns }}</p>
                    <p><i>{{ my_profile_dict.profile_header }}</i></p>
                    <p>
                        {{ my_profile_dict.profile_description }}
                    </p>
                    <button id="btnEditProfile" class="btn btn-light">Edit</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Ask Me About</h4>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table id="askTable" class="ask_tell_table">
                    {% for row in my_profile_dict.expertiseList %}
                    <tr class="ask_tell_tr" id="expertise_{{ row.num }}">
                        <td class="ask_tell_td"><input type="radio" name="expertiseRadio" value="{{ row.num }}"></td>
                        <td class="ask_tell_td"><b>{{ row.speciality }}</b></td>
                        <td class="ask_tell_td">{{ row.description }}</td>
                        <td class="ask_tell_td">{{ expertise_mapping[row.proficiency_level] }}</td>
                        <td class="ask_tell_td" style="display:none;">{{ row.proficiency_level }}</td>
                        <td class="ask_tell_td"><p class="close" onClick="confirmDeleteExpertise(event, this);">&times;</p></td>
                    </tr>
                    {% endfor %}

                </table>
                <br>
                <button id="addAskMe" type="button" class="btn btn-dark"><b>+</b></button>
                <button id="btnEditAskMe" type="button" class="btn btn-dark">Edit</button>
                <button id="findPeopleAskMe" type="button" class="btn btn-dark">Find People Who Want to Hear
                    More</button>
            </form>
        </div>
    </div>

    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Tell Me About</h4>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table id="tellTable" class="ask_tell_table">
                    {% for row in my_profile_dict.aspirationList %}
                    <tr class="ask_tell_tr" id="aspiration_{{ row.num }}">
                        <td class="ask_tell_td"><input type="radio" name="aspirationsRadio" value="{{ row.num }}"></td>
                        <td class="ask_tell_td"><b>{{ row.speciality }}</b></td>
                        <td class="ask_tell_td">{{ row.description }}</td>
                        <td class="ask_tell_td">{{ aspiration_mapping[row.interest_level] }}</td>
                        <td class="ask_tell_td" style="display:none;">{{ row.interest_level }}</td>
                        <td class="ask_tell_td"><p class="close" onClick="confirmDeleteAspiration(event, this);">&times;</p></td>
                    </tr>
                    {% endfor %}

                </table>
                <br>
                <button id="addTellMe" type="button" class="btn btn-dark"><b>+</b></button>
                <button id="btnEditTellMe" type="button" class="btn btn-dark">Edit</button>
                <button id="findPeopleTellMe" type="button" class="btn btn-dark">Find People Who Can Tell Me
                    More</button>
            </form>
        </div>
    </div>

    <!-- ********* EDIT PROFILE ********  -->
    <!-- Modal- edit ABOUT ME  -->
    <div id="editProfileAboutMe">
        <div class="editFormDiv">
            <p class="close" id="closeEditAboutMe">&times;</p> <br>
            <form method="POST" action="/edit_about_me" id="myProfile">
                <div class="mb-3">
                    <label for="displayName" class="form-label">Display Name</label>
                    <input class="form-control" type="text" name="displayName" autofocus=""
                        value="{{ my_profile_dict.name }}">
                </div>

                <div class="mb-3">
                    <label for="headline" class="form-label">Headline</label>
                    <input class="form-control" type="text" name="headline" autofocus=""
                        value="{{ my_profile_dict.profile_header }}">
                </div>

                <div class="mb-3">
                    <label for="aboutme" class="form-label">About Me</label>
                    <textarea class="form-control" id="aboutme" name="aboutme" rows="5" cols="33"
                        form="myProfile">{{ my_profile_dict.profile_description }}</textarea>
                </div>

                <button type="submit" class="btn btn-dark">Save</button>

            </form>
        </div>
    </div>

    <!-- Modal- edit ASK ME ABOUT  -->
    <div id="editAskMeAbout">
        <div class="editFormDiv">
            <p class="close" id="closeEditAskMeAbout">&times;</p> <br>
            <form method="POST" action="" id="askMeAboutForm">
                <div class="mb-3">
                    <label for="expertise" class="form-label">What would you like to share about?</label>
                    <input id="editExpertiseSpeciality" class="form-control" type="text" name="expertise" autofocus="">
                </div>

                <div class="mb-3">
                    <label for="describeExpertise" class="form-label">Tell us more about your experience with
                        this:</label>
                    <textarea class="form-control" id="editDescribeExpertise" name="describeExpertise" rows="3"
                        form="askMeAboutForm"></textarea>
                </div>

                <div class="mb-3">
                    <label for="expertiseLevel" class="form-label">Choose your level of expertise:</label>
                    <select class="form-select" name="expertiseLevel" id="editExpertiseLevel">
                        <option value="0">Hobbyist</option>
                        <option value="1">Novice - Students or entry-level</option>
                        <option value="2">Intermediate - Some experience applying theory to practice</option>
                        <option value="3">Advanced - Professional and practical experience</option>
                        <option value="4">Expert - Field experts</option>
                    </select>
                </div>

                <input type="hidden" name="expertiseNum" display="hidden" id="expertiseNum">

                <button type="submit" class="btn btn-dark">Save</button>

            </form>
        </div>
    </div>

    <!-- Modal- edit TELL ME ABOUT  -->
    <div id="editTellMeAbout">
        <div class="editFormDiv">
            <p class="close" id="closeEditTellMeAbout">&times;</p> <br>
            <form method="POST" action="/edit_tell_me_about" id="tellMeAboutForm">
                <div class="mb-3">
                    <label for="aspiration" class="form-label">What would you like to learn about?</label>
                    <input id="editAspirationSpeciality" class="form-control" type="text" name="aspiration" autofocus="">
                </div>

                <div class="mb-3">
                    <label for="describeAspiration" class="form-label">Tell us more about what you are looking
                        for:</label>
                    <textarea class="form-control" id="editDescribeAspiration" name="describeAspiration" rows="3"
                        form="tellMeAboutForm"></textarea>
                </div>

                <div class="mb-3">
                    <label for="aspirationLevel" class="form-label">Choose your level of aspiration:</label>
                    <select class="form-select" name="aspirationLevel" id="editAspirationLevel">
                        <option value="0">I'm curious about the hobby</option>
                        <option value="1">I'm trying to learn about this</option>
                        <option value="2">Looking for a potential career switch</option>
                    </select>
                </div>

                <input type="hidden" name="aspirationNum" display="hidden" id="aspirationNum">

                <button type="submit" class="btn btn-dark">Save</button>

            </form>
        </div>
    </div>

    <!-- Modal- confirm delete ASK ME ABOUT  -->
    <div id="deleteAskMeAbout">
        <div class="editFormDiv">
            <p class="close" id="closeDeleteAskMe">&times;</p> <br>
            <p><b>Do you want to delete this speciality?</b></p>
            <p id="deleteExpertise"></p>
            <form method="POST" action="/delete_ask_me" id="deleteAskMeForm">
                <input id="deleteExpertiseSpeciality" class="form-control" type="hidden" name="expertise" autofocus="">
                <input type="hidden" name="expertiseNum" display="hidden" id="deleteExpertiseNum">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    
    <!-- Modal- confirm delete ASK ME ABOUT  -->
    <div id="deleteTellMeAbout">
        <div class="editFormDiv">
            <p class="close" id="closeDeleteTellMe">&times;</p> <br>
            <p><b>Do you want to delete this speciality?</b></p>
            <p id="deleteAspiration"></p>
            <form method="POST" action="/delete_tell_me" id="deleteTellMeForm">
                <input id="deleteAspirationSpeciality" class="form-control" type="hidden" name="aspiration" autofocus="">
                <input type="hidden" name="aspirationNum" display="hidden" id="deleteAspirationNum">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>



    <script>
        // ============== ENABLE or DISABLE FIND PEOPLE ===============
        if (document.getElementById("askTable").rows.length) {
            document.getElementById("findPeopleAskMe").disabled = false;
            document.getElementById("btnEditAskMe").disabled= false;
        } else {
            document.getElementById("findPeopleAskMe").disabled = true;
            document.getElementById("btnEditAskMe").disabled= true;
        }

        if (document.getElementById("tellTable").rows.length) {
            document.getElementById("findPeopleTellMe").disabled = false;
            document.getElementById("btnEditTellMe").disabled= false;
        } else {
            document.getElementById("findPeopleTellMe").disabled = true;
            document.getElementById("btnEditTellMe").disabled= true;

        }

        // ============== EDIT PROFILE =================
        // Open Edit Profile
        document.getElementById("btnEditProfile").onclick = function () {
            document.getElementById("editProfileAboutMe").style.display = "block";
        }

        // Close Edit Profile 
        document.getElementById("closeEditAboutMe").onclick = function () {
            document.getElementById("editProfileAboutMe").style.display = "none";

        }
        // ============== DEFAULT CHECK FIRST BUTTON OF RADIO =================
        if (document.getElementsByName("expertiseRadio").length) {
            document.getElementsByName("expertiseRadio")[0].checked = true;
        }

        if (document.getElementsByName("aspirationsRadio").length) {
            document.getElementsByName("aspirationsRadio")[0].checked = true;
        }


        // **************** ASK ME ABOUT ********************
        // ============== EDIT ASK ME ABOUT =================
        // Open Edit
        document.getElementById("btnEditAskMe").onclick = function () {
            // Set form action:
            document.getElementById("askMeAboutForm").action = "/edit_ask_me_about"

            // Get existing info: 
            var expertise_id = document.querySelector('input[name="expertiseRadio"]:checked').value
            var expertise_row = document.getElementById("expertise_" + expertise_id)
            var expertise_speciality = expertise_row.children[1].textContent
            var expertise_description = expertise_row.children[2].textContent
            var expertise_level_text = expertise_row.children[3].textContent
            var expertise_level_value = expertise_row.children[4].textContent

            // Map existing info to form: 
            document.getElementById("editExpertiseSpeciality").value = expertise_speciality
            document.getElementById("editDescribeExpertise").value = expertise_description
            document.getElementById("editExpertiseLevel").value = expertise_level_value
            document.getElementById("expertiseNum").value = expertise_id

            // Display Form
            document.getElementById("editAskMeAbout").style.display = "block";

        }

        // Close Edit 
        document.getElementById("closeEditAskMeAbout").onclick = function () {
            document.getElementById("editAskMeAbout").style.display = "none";

        }

        // ============== ADD ASK ME ABOUT =================
        // Open Edit 
        document.getElementById("addAskMe").onclick = function () {
            // Set form action:
            document.getElementById("askMeAboutForm").action = "/add_ask_me_about"

            // Set expertise num 
            var no_of_rows = document.getElementById("askTable").rows.length
            document.getElementById("expertiseNum").value = no_of_rows+1

            // Display Form
            document.getElementById("editAskMeAbout").style.display = "block";
        }
        // Close Edit 
        document.getElementById("closeEditAskMeAbout").onclick = function () {
            document.getElementById("editAskMeAbout").style.display = "none";
        }
        
        // ============== DELETE ASK ME ABOUT =================
        function confirmDeleteExpertise(e,el) {
            // Get existing info:
            var expertise_row = el.parentNode.parentNode
            var expertise_speciality = expertise_row.children[1].textContent
            var expertise_num = expertise_row.children[0].firstChild.value

            // Set form inputs: 
            document.getElementById("deleteExpertise").textContent = expertise_speciality
            document.getElementById("deleteExpertiseSpeciality").value = expertise_speciality
            document.getElementById("deleteExpertiseNum").value = expertise_num

            // Show Confirm delete
            document.getElementById("deleteAskMeAbout").style.display = "block";
            // console.log(el.parentNode.parentNode);
        }

         // Close delete ask me about 
         document.getElementById("closeDeleteAskMe").onclick = function () {
            document.getElementById("deleteAskMeAbout").style.display = "none";
        }


         // **************** TELL ME ABOUT ********************
        // ============== EDIT TELL ME ABOUT =================
        // Open Edit 
        document.getElementById("btnEditTellMe").onclick = function () {
            // Set form action:
            document.getElementById("tellMeAboutForm").action = "/edit_tell_me_about"

            // Get existing info: 
            var aspiration_id = document.querySelector('input[name="aspirationsRadio"]:checked').value
            var aspiration_row = document.getElementById("aspiration_" + aspiration_id)
            var aspiration_speciality = aspiration_row.children[1].textContent
            var aspiration_description = aspiration_row.children[2].textContent
            var aspiration_level_text = aspiration_row.children[3].textContent
            var aspiration_level_value = aspiration_row.children[4].textContent

            // Map existing info to form: 
            document.getElementById("editAspirationSpeciality").value = aspiration_speciality
            document.getElementById("editDescribeAspiration").value = aspiration_description
            document.getElementById("editAspirationLevel").value = aspiration_level_value
            document.getElementById("aspirationNum").value = aspiration_id

            // Display Form
            document.getElementById("editTellMeAbout").style.display = "block";

        }

        // Close Edit
        document.getElementById("closeEditTellMeAbout").onclick = function () {
            document.getElementById("editTellMeAbout").style.display = "none";

        }

        // ============== ADD TELL ME ABOUT =================
        // Open Edit 
        document.getElementById("addTellMe").onclick = function () {
            // Set form action:
            document.getElementById("tellMeAboutForm").action = "/add_tell_me_about"

            // Set aspiration num 
            var no_of_rows = document.getElementById("tellTable").rows.length
            document.getElementById("aspirationNum").value = no_of_rows+1

            // Display Form
            document.getElementById("editTellMeAbout").style.display = "block";
        }
        // Close Edit 
        document.getElementById("closeEditTellMeAbout").onclick = function () {
            document.getElementById("editTellMeAbout").style.display = "none";
        }
        
        // ============== DELETE TELL ME ABOUT =================
        function confirmDeleteAspiration(e,el) {
            // Get existing info:
            var aspiration_row = el.parentNode.parentNode
            var aspiration_speciality = aspiration_row.children[1].textContent
            var aspiration_num = aspiration_row.children[0].firstChild.value

            // Set form inputs: 
            document.getElementById("deleteAspiration").textContent = aspiration_speciality
            document.getElementById("deleteAspirationSpeciality").value = aspiration_speciality
            document.getElementById("deleteAspirationNum").value = aspiration_num

            // Show Confirm delete
            document.getElementById("deleteTellMeAbout").style.display = "block";
            // console.log(el.parentNode.parentNode);
        }

         // Close delete ask me about 
         document.getElementById("closeDeleteTellMe").onclick = function () {
            document.getElementById("deleteTellMeAbout").style.display = "none";
        }



    </script>

</div>
{% endblock %}