{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="connection_details">
    </div>

    <div class="about_me">
        <table id="askTable" class="about_me_table">
            <tr>
                <td class="about_me_td"><img id="profile_pic" src="" alt=""
                        height="200px" width="200px"></td>
                <td class="about_me_td">
                    <h2><b>{{ profile_dict.name }}</b></h2> 
                    <p>{{ connection_degree }} degrees</p>
                    <p> {{ profile_dict.pronouns }}</p>
                    <p><i>{{ profile_dict.profile_header }}</i></p>
                    <p>
                        {{ profile_dict.profile_description }}
                    </p>
                    <form action="/add_chatlist" method="POST" style="display:inline-block;">
                        <input type="hidden" value="{{ profile_dict.id }}" name="friend_id">
                    <button type="submit" id="sendChat" class="btn btn-dark">Send Message</button>
                </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Ask Me About</h4>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table id="tellTable" class="ask_tell_table">
                    {% for row in profile_dict.expertiseList %}
                    <tr class="ask_tell_tr">
                        <!-- <td class="ask_tell_td"><input type="radio" name="expertiseRadio" id="{{ row.num }}" value="{{ row.num }}"></td> -->
                        <td class="ask_tell_td"><b>{{ row.speciality }}</b></td>
                        <td class="ask_tell_td">{{ row.description }}</td>
                        <td class="ask_tell_td">{{ expertise_mapping[row.proficiency_level] }}</td>

                    </tr>
                    {% endfor %}


                </table>
                <br>
                <!-- <p><b>Send message to {{ profile_dict.name }}</b></p>
                <button type="button" class="btn btn-dark">Send Message</button> -->
            </form>
        </div>
    </div>

    <div class="ask_tell">
        <div class="ask_tell_header">
            <h4>Tell Me About</h4>
        </div>
        <div class="ask_tell_body" action="/">
            <form action="POST">
                <table class="ask_tell_table">
                    {% for row in profile_dict.aspirationList %}
                    <tr class="ask_tell_tr">
                        <!-- <td class="ask_tell_td"><input type="radio" name="aspirationsRadio" id="{{ row.num }}" value="{{ row.num }}"></td> -->
                        <td class="ask_tell_td"><b>{{ row.speciality }}</b></td>
                        <td class="ask_tell_td">{{ row.description }}</td>
                        <td class="ask_tell_td">{{ row.interest_level }}</td>

                    </tr>
                    {% endfor %}

                </table>
                <br>
                <!-- <p><b>Send message to {{ profile_dict.name }}</b></p>
                <button type="button" class="btn btn-dark">Send Message</button> -->
            </form>
        </div>
    </div>
<script>
    // SET PROFILE PIC TO DEFAULT IF NOT EXISTS 
    var profile_pic = "{{ profile_dict.profile_picture }}"
    if (profile_pic) {
        document.getElementById("profile_pic").src = "/static/styles/img/{{ profile_dict.profile_picture }}"

    } else {
        document.getElementById("profile_pic").src = "/static/styles/img/fluid_bg.jpg"
    }


 
</script>
</div>

{% endblock %}